@import url('https://fonts.googleapis.com/ css?family=Poppins: 200, 300, 400, 500, 600, 700, 800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
p{
    font-weight: 310;
    color: #111;;
 }

 body{
     min-height: 1000px;
 }

 .btn1{
    position: relative;
    margin-left: 32px;
    font-size: 2em;
    color: rgb(233, 160, 160);
    font-weight: 500;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    display: inline-block;
    position: absolute;
   margin-left: -80px;
    padding: 20px 40px;
    margin-top: 20px;
   text-transform: uppercase;
   text-decoration: none;
   letter-spacing: 2px;
   transition: 0.5s;
}

 
.banner{
position: relative;
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: url(bg.jpg);
background-size: cover;

 }
.banner .content{
max-width: 900px;
text-align: center;
 }
 .banner .content h2 {
     font-size: 4.5em;
     color: red;
 }
 .banner .content p {
     font-size: 1em;
     color:red;

 }

 

    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 100px;
        z-index: 10000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
    }

    header.sticky{
        background: rebeccapurple;
        padding: 10px 100px;
        box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    }
 
    header .logo{
        color:rebeccapurple;
        font-weight: 600;
        font-size: 2em;
    text-decoration: none;
     }

     header.sticky .logo{
         color: #111;
     }


     header .logo span{
         color: #ff0157;
     }

     .container .text-center span{
         color: #ff0157;
         font-size: xx-large;
     }
     header .navigation{
        position: relative;
        display: flex;
     }
    
     header .navigation li{
         top: 0;
        list-style: none;
        margin-left: 30px;
     }
     header .navigation li a{
         text-decoration: none;
         color: #fff;
         font-weight: 800;
         font-size: 1em;
     }

     header.sticky .navigation li a{
        color: #111;
     }

     header .navigation li a:hover{
         color: #ff0157;
     }

    section{
        padding: 100px;
    }

    .about{
        background: url(bg3.jpg);
    }

    .row
    {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .row .col50{
        position: relative;
        width: 48%  ;
    }
    
    
    .titletext{
        color:red;
        font-size: 2em;
        font-weight: 300;
    }
    
    .titletext span{
        color: #ff0157;
        font-weight: 700;
        font-size: 1.5em ;
    }
    .row  .col  .imgBx{
        position: relative;
        width: 50%;
        min-height: 100px;
    }
    
    .row  .col  .imgBx img{
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
        object-fit: cover;
    }
    .title{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .title .btn{
        position: absolute;
        margin-left: 400px;
    }

    .container{
        padding-top: 150px;
        background: url(bg4.jpg);
    }
    h2{
        text-align: center;
        padding: 20px;
    }
    .slick-slide{
        margin: 0 20px;
    }
    .slick-slide img{
        width: 100%;
    }
    .slick-slider{
        position: relative;
        display: block;
        box-sizing: border-box;
    }
    .slick-list{
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .slick-track{
        position: relative;
        top: 0;
        left: 0;
        display: block
    }
    .slick-slide{
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
    }
    .slick-slide img{
        display: block;
    }
    .slick-initialized .slick-slide{
        display: block;
    }

    .wrapper p{
        font-size: larger;
        color: rgb(108, 120, 243);
        position: center;
        margin-right: 25px;
    }
    